body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
}

#calculadora{
    background-color: rgb(28, 41, 29);
    border-radius: 14px;
    max-width: 500px;
    overflow: hidden;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: beige;
    background-color: rgb(40, 53, 46) ;
}

#botoes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(46, 97, 69);
    color: beige;
    font-size: 3rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(75, 148, 108) ;
}

button:active{
    background-color: rgb(103, 160, 128);
}

.especial{
    background-color: rgba(165, 45, 45, 0.39);
}

.especial:hover{
    background-color: rgba(218, 89, 89, 0.39);
}

.especial:active{
    background-color: rgba(223, 150, 150, 0.39);
}
